@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  background-color: black;
}

p,
a {
  font-family: 'Space Mono', monospace;
  color: white;
  text-decoration: none;

  text-align: center;
}

#waveform {
  display: block;
}

#overlay {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

#overlay2 {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  z-index: 5;

  margin-top: 60px;
}

#content {
  position: fixed;
  top: 60%;
  left: 0;
  width: 100%;

  padding: 16px 0;

  visibility: hidden;
  height: 0;
  opacity: 0;

  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 3;
}

#content * {
  opacity: 0;
}

#content p {
  margin: 4px;
}

#content #buttons {
  margin-top: 12px;

  display: flex;
  align-items: center;
  justify-content: center;


  gap: 24px;
}

button {
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  padding: 8px 16px;

  align-self: center;

  border-radius: 0px;
  border: none;

  background-color: black;
  color: white;

  border: 2px dashed white;

  transition: all 0.2s ease;
}

#gallery {
  margin: 24px 0 0 0;
  height: 0;
  width: 100%;

  display: none;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

.gallery-img {
  height: inherit;
  margin: 0;
  opacity: 0;

  /* transition: scroll 1s linear infinite; */
}

button:hover {
  cursor: pointer;
  transform-origin: center;
  scale: 1.2;
  transition: all 0.2s ease;
}

#content #footer {
  margin-top: 16px;

  font-size: 0.8em;
  color: lightgray;
}

.link {
  text-decoration: underline;
}

.instructions {
  font-size: 0.8em;
  padding: 8px;
  margin-top: 8px;

  background: black;
  border: 2px dashed white;
}

#mute {
  visibility: hidden;
  opacity: 0;
  
  position: fixed;

  top: 16px;
  right: 16px;

  font-family: 'Space Mono', monospace;
  color: white;
  text-decoration: none;

  z-index: 4;

  cursor: pointer;
}

#mute p {
  margin: 0;
}

#hide {
  visibility: hidden;
  opacity: 0;

  position: fixed;

  bottom: 16px;
  right: 16px;

  font-family: 'Space Mono', monospace;
  color: white;
  text-decoration: none;

  z-index: 4;

  cursor: pointer;
}