@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
}

body {
    margin: 0;
    width: 100%;
    background-color: black;

    display: flex;

    overflow-x: hidden;
}

.left-bar-gap {
    width: 30%;
    height: 100%;
    background-color: black;
}

.left-bar {
    margin: 0;
    height: 100vh;
    width: 30%;

    background: repeating-linear-gradient(to bottom,
            #ffd95a 0px,
            #ffd95a 15px,
            black 15px,
            black 30px
        );
    background-image:
        linear-gradient(to bottom, rgba(255, 217, 90, 1), rgba(0, 0, 0, 1)),
        repeating-linear-gradient(to bottom,
            transparent 0px,
            transparent 15px,
            black 15px,
            black 30px);
    background-blend-mode: multiply;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: end;
}

.logo {
    width: 240px;
    margin-bottom: 10vh;
}

.content {
    width: 50%;
    margin: 16px 60px;
}

/* content */

#freqvisheader {
    margin-top: 40px;
    margin-bottom: 32px;
}

.nav {
    margin: 0 0 8px 0;
}

.nav a {
    margin-right: 16px;
}

li, ul, p, h1, h3 {
    color: white;
    margin: 2px 0;
    padding: 0;

    font-weight: 200;
}

ul {
    padding-left: 40px;
}

li {
    margin-bottom: 20px;
}

p {
    margin-top: 32px;
    max-width: 70ch;
    line-height: 1.6;
}

h1 {
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
}

a, h3 {
    color: #C0C0C0;
}

li, ul, a, p, h3 {
    font-family: 'Space Mono', monospace;
    letter-spacing: 1px;
}

.gap {
    height: 30px;
}

.gallery {
    margin: 16px 0;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: start;
}

.gallery-item {
    width: 60%;
    margin-bottom: 16px;
}

.gallery-item img {
    max-width: 100%;
}

.graphic {
    width: 100%;
    margin-top: 32px;
}

/* breakpoints */

@media screen and (max-width: 1000px) {
    .left-bar, .left-bar-gap, #freqvisheader {
        display: none;
    }

    .nav {
        margin-top: 60px;
    }

    .html, .body {
        width: 100vw;
    }

    .content {
        width: 80vw;
        padding: 0;
        margin-left: 16px;
    }
}

/* codeblocks */
.highlight pre,
pre {
    padding: 16px;
    overflow: auto;
    font-size: 100%;
    line-height: 1.45;
    color: #cddeff;
    background-color: #14397d;
    border-radius: 6px;
}

code {
    font-family: 'Space Mono', monospace;
    font-size: 90%;
    letter-spacing: 1px;
    color: #cddeff;
    background-color: #14397d;
    padding: 4px;
    border-radius: 6px;
}

pre code,
pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

pre code {
    font-size: 100%;
}

pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.token.punctuation {
    color: white;
}

.token.number {
    color: #a47ff8;
}

.token.comment {
    color: #6A9955;
    font-style: italic;
}

.token.keyword {
    color: #ff90f6;
}

.token.string {
    color: #CE9178;
}

.token.operator {
    color: #D7BA7E;
}

.token.property-access,
.token.method {
    color: #e0de71;
}

#visualizer-container {
    margin: 16px 0;
}

.caption {
    font-size: x-small;
    color: darkgray;
    margin-bottom: 32px;
}

.rm-top-margin {
    margin-top: 0;
}